section {
    float: left;
    width: 66%;
    margin: 1%;
    background-color: white;
    color:black;
    padding: 1%
}
aside{
    float: left;
    width: 26%;
    margin: 1%;
    padding: 1%;
    background-color: white;
    color: black;
}
img{
    width: 100%
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    background-color: lightgray
}

footer{
    clear: both;
    text-align: center;
    background-color: brown;
    margin: 1%;
    padding: 1%;

}
ul li {
    list-style: none;
}
li {
    list-style: none;
}

.bar {
    width: 100%;
    background-color: brown;
    height: 24px;
    border-radius: 4px;
}