section {
    float: left;
    width: 66%;
    margin: 1%;
    background-color: white;
    color:black;
    padding: 1%
}
aside{
    float: left;
    width: 26%;
    margin: 1%;
    padding: 1%;
    background-color: white;
    color: black;
}
img{
    width: 100%
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    background-color: lightgray
}

footer{
    clear: both;
    text-align: center;
    background-color: brown;
    margin: 1%;
    padding: 1%;

}
ul li {
    list-style: none;
}
li {
    list-style: none;
}

.bar {
    width: 100%;
    background-color: brown;
    height: 20px;
    border-radius: 15px;
}

.bar-language {
    width: 100%;
    background-color: brown;
    height: 25px;
    border-radius: 15px;
}

.skill {
    color: darkgray;
    font-weight: 500;
    font-size: 14px;
    margin: 5%;
    padding: 10px 0px 10px 0px;
}

.percentage {
    text-align: center;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 1px;

}

.fullBar-skill {
    width: 96%;
    background-color: lightgray;
    height: 20px;
    border-radius: 10px;
    margin: 4%;
}

.fullBar-language {
    width: 96%;
    background-color: lightgray;
    height: 25px;
    border-radius: 10px;
    margin: 4%;
}
p {
    margin: 1%;
    padding: 1%;
}
.language{
    color: darkgray;
    font-weight: 500;
    font-size: 14px;
    margin: 4%;
    padding: 10px 0px 10px 0px;
}